doctype html
html(lang='en')

    head

        include includes/head.pug
        include includes/css.pug

    body.d-flex.flex-column

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Page content
            section.py-5

                .container.px-3

                    // Contact form
                    .bg-light.rounded-4.py-5.px-4.px-md-5
                        .text-center

                            h1.fw-bolder Get in touch
                            p.lead.fw-normal.text-muted.mb-0 Let's work together!

                            mixin contactLink(iconClass, nickName, url)
                                - const icon = icons[iconClass]
                                a.btn.btn-outline-primary.btn-lg.mb-md-3.p-2.p-md-3.fs-4.fw-bolder.me-sm-3(href=url)
                                    div.text-nowrap.text-start.overflow-hidden
                                        .feature.bg-primary.bg-gradient-primary-to-secondary.rounded-3.col-1.align-middle
                                            if icon 
                                                //- i(class=iconClass)
                                                svg.fill-wihte.p-2!= icon.svg
                                            else
                                                i(class=iconClass)
                                        span.ms-1.align-middle= nickName

                            .d-grid.gap-1.d-flex.flex-column.flex-md-row.flex-md-wrap.justify-content-center.my-3
                                +contactLink('siLinkedin', 'andygol', 'https://www.linkedin.com/in/andygol/')
                                +contactLink('siGithub', 'Andygol', 'https://github.com/andygol/')
                                +contactLink('siX', 'andygol_', 'https://x.com/andygol_')
                                +contactLink('siBluesky', 'andygol.bsky.social', 'https://bsky.app/profile/andygol.bsky.social')
                                +contactLink('siOpenstreetmap', 'osm.org/andygol', 'https://openstreetmap.org/user/andygol')
                                +contactLink('siYoutube', 'AndriiHolovin', 'https://www.youtube.com/@AndriiHolovin')

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
